<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey there,</p>

    <p>Thanks for signing up for early access to Bacon! We're pumped that you're excited for savings made simple, seamless, and fun.</p>

    <p>We're almost ready for our beta launch. When the countdown on our site hits 00:00:00, we'll shoot you an email with a download link. Your feedback is super important to us, and we will use it to make Bacon the best savings app in the market.</p>

    <p>See you soon,<br>

    <p>The Bacon Team</p>
    <p>contact@havebacon.com</p>

  </body>
</html>